docs/s3-putObject.json
[
  {
    "id": "e31430f5.4ea86",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "febd4243.cc921",
    "type": "aws-sdk-any",
    "z": "e31430f5.4ea86",
    "aws": "b3d8ae95.cb9b",
    "region": "",
    "servicename": "S3",
    "methodname": "putObject",
    "operation": "",
    "name": "",
    "x": 650,
    "y": 120,
    "wires": [["f53e0af.c99b6f8"]]
  },
  {
    "id": "73030c23.2c0634",
    "type": "inject",
    "z": "e31430f5.4ea86",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 140,
    "y": 120,
    "wires": [["dd9390f5.bd13f"]]
  },
  {
    "id": "dd9390f5.bd13f",
    "type": "function",
    "z": "e31430f5.4ea86",
    "name": "Create S3 Payload",
    "func": "const bucketName = \"BUCKET-NAME\";\nconst buffer = Buffer.from(`{\"test\": true}`);\nconst s3Parameters = {\n    Bucket: bucketName,\n    Key: `${Date.now()}.json`,\n    Body: buffer, \n};\n\nmsg.payload = s3Parameters;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 120,
    "wires": [["febd4243.cc921"]]
  },
  {
    "id": "f53e0af.c99b6f8",
    "type": "debug",
    "z": "e31430f5.4ea86",
    "name": "success",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1000,
    "y": 40,
    "wires": []
  },
  {
    "id": "1fd03851.4c62c8",
    "type": "catch",
    "z": "e31430f5.4ea86",
    "name": "AWS Error",
    "scope": ["febd4243.cc921"],
    "uncaught": false,
    "x": 940,
    "y": 160,
    "wires": [["44beb768.4efb38"]]
  },
  {
    "id": "44beb768.4efb38",
    "type": "debug",
    "z": "e31430f5.4ea86",
    "name": "Errors",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1180,
    "y": 160,
    "wires": []
  },
  {
    "id": "b3d8ae95.cb9b",
    "type": "aws-sdk-any-config",
    "z": "",
    "name": "AWS",
    "region": "us-east-1"
  }
]
