docs/step-function-startExecution.json
[
  {
    "id": "ae6bdda7.41dcd",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "5f208032.05594",
    "type": "aws-sdk-any",
    "z": "ae6bdda7.41dcd",
    "aws": "b3d8ae95.cb9b",
    "region": "",
    "servicename": "StepFunctions",
    "methodname": "startExecution",
    "operation": "",
    "name": "",
    "x": 680,
    "y": 120,
    "wires": [["808e0db5.1185f"]]
  },
  {
    "id": "872224ed.4ae168",
    "type": "inject",
    "z": "ae6bdda7.41dcd",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 140,
    "y": 120,
    "wires": [["dde50e0b.f1a8d"]]
  },
  {
    "id": "dde50e0b.f1a8d",
    "type": "function",
    "z": "ae6bdda7.41dcd",
    "name": "Create SFN Payload",
    "func": "const sfnParameters = {\n    stateMachineArn: \"STEP-FUNCTION-ARN\",\n    input: JSON.stringify({test: true}),\n    name: \"USUALLY-A-GUID\"\n};\n\nmsg.payload = sfnParameters;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 360,
    "y": 120,
    "wires": [["5f208032.05594"]]
  },
  {
    "id": "808e0db5.1185f",
    "type": "debug",
    "z": "ae6bdda7.41dcd",
    "name": "success",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1000,
    "y": 40,
    "wires": []
  },
  {
    "id": "3697aad8.c27846",
    "type": "catch",
    "z": "ae6bdda7.41dcd",
    "name": "AWS Error",
    "scope": ["5f208032.05594"],
    "uncaught": false,
    "x": 1000,
    "y": 160,
    "wires": [["91545c4f.09ebf"]]
  },
  {
    "id": "91545c4f.09ebf",
    "type": "debug",
    "z": "ae6bdda7.41dcd",
    "name": "Errors",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1240,
    "y": 160,
    "wires": []
  },
  {
    "id": "b3d8ae95.cb9b",
    "type": "aws-sdk-any-config",
    "z": "",
    "name": "AWS",
    "region": "us-east-1"
  }
]
